@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comforter&family=Cormorant:wght@300&family=Monoton&family=Montserrat:wght@100;500&family=Roboto:wght@900&display=swap");
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
.container {
    width: 100vw;
    background-color: rgb(175, 228, 210);
}
#container1 {
    background-color: rgb(86, 110, 102);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        color: bisque;
    }
    h1 {
        font-family: sans-serif, Georgia, 'Times New Roman', Times;
        font-size: 9em;
        text-shadow: 10px 10px 16px black;
        color: bisque;
    }
}#container2 {
    background-color: #d9ceaf;
    height: 100vh;
    background-image: linear-gradient(0deg, #d9ceaf 0%, #566e66 100%);
    //Gradient fetched from Grabient.com
}
nav ul {
    height: 10vh;
    display: flex;
    padding: 0 2em;
    align-items: center;
    background-color: black;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    margin: 0 0.5em;
    color: rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
}
nav ul li a:hover {
    color: rgb(86, 110, 102);
}